<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User info</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body style="padding-top: 70px">

<div th:insert="~{fragments/menu :: main-menu}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 vh-100">
            <div th:insert="~{fragments/menu :: side-menu}"></div>
        </div>
        <div class="col-10 bg-light">
            <h1>User information-page</h1>
            <div class="tab-content">
                <div th:insert="~{fragments/userlist :: userinfo}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
